<div class="modal fade" id="showpost<%= img.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gif Info</h4>
      </div>
      <div class="modal-body">
              <% if img.gif_image.blank? %>
                <p> <%= image_tag(img.gif, class: "img-responsive") %></p>
              <% else %>
                <p> <%= image_tag attachment_url(img, :gif_image) %> </p>
              <% end %>
              <p> Author: <%= img.user.email %> </p>
              <p> URL: <%= img.gif %> </p>
              <p> Created at: <%= img.created_at.strftime('%B %d, %Y') %> </p>
              <% if current_user %>
                <p> <%= button_to "Like", upvote_post_path(img)%> <%= img.get_upvotes.size - img.get_downvotes.size%>  <%= button_to "Dislike", downvote_post_path(img)%></p>
              <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
