<p id="notice"><%= notice %></p>

<div class = "hometitle">
  <h1>Surely You Must Love Gifs</h1>
</div>

<%= render partial: 'signin', :locals => {posts: @posts} %>
<%= render partial: 'form'%>
<%= render partial: 'newpost' %>


  <div class = "container" id = "returnpost">
    <% @posts.each_slice(4) do |post| %>
      <%= render partial: 'postrow', :locals => {post: post} %>
    <% end %>
  </div>
